<header class="topo">
  <div class="topo-interno">
    <img class="logo-ufpb" src="{{ raiz }}logo-ufpb.svg" alt="Brasão da Universidade Federal da Paraíba">
    <img class="logo-proex" src="{{ raiz }}logo-proex.png" alt="PROEX — Pró-Reitoria de Extensão/UFPB">
  </div>
</header>
